@charset "utf-8";
/* CSS Document */
body,html,div,a,p,img,hr,h1,h2,h3,h4,h5,h6,input,ul,li,ol{margin:0;padding:0;border:none;font:12px/1.6 Tahoma;}
input,select,table,td{font-size:12px;}
.line{border-bottom:1px solid #d5d5d5;border-top:1px solid #f7f7f7;}
table{border-collapse:collapse;border-spacing:0}
.number{font-family:"Arial Black", Gadget, sans-serif;}
.orange{color:#ff6600;}
ul,ol{ list-style:none;}
.inp{ height:26px;border:1px solid #007ed5; background:#FFF;border-radius:4px;}
.inb{border:none; background:url(../images/bg_inb.png) 0 0 no-repeat; height:30px; width:90px;color:#FFF;font-family:"Microsoft Yahei"; cursor:pointer;font-size:14px;}
.inb2{ background-position:0 -30px;color:#0165bb;}
body{color:#2e2e2e;}
/*a{color:#0165bb; text-decoration:none;}
a:hover{ text-decoration:underline;}*/
.tl{ text-align:left;}
.tr{ text-align:right;}
.tc{ text-align:center;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.fl{float:left;display:inline}
.fl1{position:absolute; top:3px;+top:8px; height:35px; line-height:35px;width:180px; padding:1px;border:1px solid #f4f4f4;font-family:"Microsoft Yahei";font-size:14px;
	left: 137px;
}
.fr{float:right;display:inline}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.clearfix:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
/*end 全局*/

/*start layout*/
.wrap{width:980px;margin:0 auto; background-color:#FFFFFF; padding-bottom:25px; margin-top:20px;border-radius:10px;}
.acountWrap{width:830px;height:300px;position:absolute;left:50%;top:50%;margin:-150px 0 0 -415px;padding:15px;border-radius:10px;}
.acountContent{ position:absolute;left:400px;top:35px;width:380px;}
.acountContent .title{ margin-bottom:10px;font-family:"Microsoft Yahei";font-size:22px;}
.acountContent .frmElements li{ background:url(../images/bg_li.png) left center no-repeat;height:32px; width:334px; line-height:32px;font-size:18px; margin-bottom:10px;font-family:"Microsoft Yahei";position:relative; }
.acountContent .frmElements li span{ width:130px; text-align:center;}
.acountContent .frmElements li p{width:180px;padding-left:15px;}
.acountContent .frmElements select{ position:absolute; top:3px;+top:3px; height:30px; line-height:30px;width:180px; padding:1px;border:1px solid #f4f4f4;font-family:"Microsoft Yahei";font-size:14px;}
.acountContent .radioGroup{ width:334px;height:50px; line-height:50px;font-size:20px;font-family:"Microsoft Yahei";}
/*end*/

.banner{ margin-bottom:20px;}

/*start 欢迎信息*/
.crumb{ position:relative;padding:0 20px; margin-bottom:20px;}
.crumb h2{height:30px;line-height:30px;color:#0165bb;font-size:20px;font-family:"Microsoft Yahei";}
.crumb h6{ height:25px; line-height:25px;}
.status{ position:absolute; right:20px; top:0; line-height:30px;height:30px;font-size:14px;}
.status a{font-size:14px;font-weight:bold; margin-left:20px;}
/*end*/

/*start dataTalbe*/
.dataTable{border:1px solid #0165bb;border-radius:2px; margin-bottom:20px;border-radius:2px;}
.titleLine td{font-weight:bold; background:#007ed5;padding:5px 10px;color:#FFF;border:1px solid #0165bb}
.contentLine td{padding:5px 10px;background:#f7f7f7;border:1px solid #d5d5d5;}
/*end*/

.searchFrm,.searchRes{padding:0 20px;}
.searchFrm ul{ height:35px; overflow:hidden; margin-bottom:15px;}
.searchFrm ul li{ float:left; height:35px;padding:0 10px; line-height:35px; vertical-align:middle;font-size:14px; font-weight:bold;}
.searchFrm .inp{ width:150px;}

.pageer{ position:relative; height:30px; line-height:30px; font-size:14px;}
.pageControl{ position:absolute; height:30px; right:0; top:0; vertical-align:middle;}
.pageControl a,.pageControl{ font-size:14px;}
.pageControl a{ margin:0 10px;}
.pageControl .inp{ width:40px; height:20px; text-align:center;}