/* vkey v1.0 by marco @ tehwebmaster.blogspot.com */

#vkey 
{
	position: absolute;
	padding: 5px;
	width: 250px;
	text-align: center;
	line-height: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	height: 250px;
	top: 29px;
	left: 72px;
}

.vkey_key {
	font-family: monospace;
	margin: 1px;
	border: 1px solid #ccc;
	font-size: 50px;
	text-decoration: none;
	color: #003399;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
	font-weight: bold;
	height: 70px;
	width: 50px;
}

.vkey_key:hover {
	background-color: #ccc;
	color: #fff;
}
